<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cognizant.flymanager">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/flightmanager_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/flightmanager_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.FlightDetailsActivity"
            android:label="@string/flightDetailsList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".subactivity.CustomViewIconTextTabsActivity"
            android:label="@string/choose_and_book"
            android:parentActivityName=".activity.FlightDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>


    </application>

</manifest>